.patient-div {
    display: block;
    width: 65%;
    height: 140px;
    margin: auto;
    margin-top: 30px;
    background-color: aquamarine;
}

.patient {
    display: block;
}

mat-paginator {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}