<div>
    <div class="search">
        <mat-form-field floatLabel="never" class="example-full-width">
            <input matInput placeholder="Search..." >
        </mat-form-field>
        <button class="search-button" mat-raised-button color="primary">Find</button>
    </div>
    <div *ngFor="let patient of pagedPatients" class="patient-div" (click)="goToProfilePage(patient.patientId)">
        <div class="patient">
            <img src="../../../assets/male.png" alt="">
            <div class="patient-labels">
                <label for="">{{patient.firstName}} {{patient.secondName}}</label>
            </div>
        </div>
    </div>
    <mat-paginator [length]="patientsAmount"
              [pageSize]="3"
              [pageSizeOptions]="[3]"
              [pageIndex]="pageIndex"
              (page)="onChangePage($event)">
    </mat-paginator>
</div>
