<div class="profile-form">
    <img src="../../../assets/male.png" alt="">
    <div class="profile-name-labels">
        <label for="">{{patient.firstName}}</label>
        <label for="">{{patient.secondName}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Birth date: {{patient.birthDate}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Gender: {{patient.genderType}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Country: {{patient.country}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">City: {{patient.city}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Street: {{patient.street}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Telephone: {{patient.telephone}}</label>
    </div>
    <div class="profile-form-info">
        <label for="">Deceased: {{patient.deceased}}</label>
    </div>
</div>
